.footer {

  flex: 0 0 auto;

  &-bottom {
    background: $bacMenu;
    padding-top: 10px;
    padding-bottom: 10px;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    
    p, a {
      color: $menuLinks;
    }

    p {
      font-size: 15px;
    }

    ul {

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
    }

    li {
      margin: 10px 10px;
    }

    a {

      font-size: 1em;
      padding: 5px;

      &:hover {
        color: #ffffff;
      }
    }

  }
}
