nav{

	background-color: $bacMenu;
	padding: 5px 0;
	position: relative;

	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;


		@include respond-to(tablet) {
			flex-direction: row;
		}
	}

	ul {

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;

	}


	@include respond-to(tablet) {
		padding: 20px 50px;

	}

	@include respond-to(tablet) {
		padding: 10px;
	}

	li {
		margin: 5px;
	}
	
	a {
		color: $menuLinks;
		font-size: 15px;
		padding: 5px;
	}

}

.menu {

	margin: 0 -25px;
	z-index: 5;


	@include respond-to(tablet) {
		display: block;
		background: #ffffff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		position: absolute;
		left: -100%;
		top: 120%;
		opacity: 0;
		visibility: hidden;

		-webkit-transition: .35s all;
		-moz-transition: .35s all;
		-ms-transition: .35s all;
		-o-transition: .35s all;
		transition: .35s all;

	}

	&.menu-open {
		opacity: 1;
		visibility: visible;
		left: 10px;
	}

	@include respond-to(tablet) {
		margin: 0;
	}

	li {
		margin-left: 20px;
		margin-right: 20px;

		@include respond-to(tablet) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	a {
		&:hover {
			color: #ffffff;
		}

		@include respond-to(tablet) {
			&:hover {
				color: #6e6d73;
			}
		}
	}

}
