
.user-bloc {

  max-width: 270px;
  width: 100%;
  position: relative;

    .caret {
      position: absolute;
      top: 10px;
      right: 0;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 12px;
        width: 0;
        height: 0;
        border: 5px solid #65557e;
        border-left-color: transparent;
        border-top-color: transparent;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);

        -webkit-transition: .35s all;
        -moz-transition: .35s all;
        -ms-transition: .35s all;
        -o-transition: .35s all;
        transition: .35s all;
      }
    }

  .caret-open {
    &::before {
      top: 5px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      -webkit-transition: .35s all;
      -moz-transition: .35s all;
      -ms-transition: .35s all;
      -o-transition: .35s all;
      transition: .35s all;
    }
  }

    &-date {

      display: flex;
      align-items: center;
      position: relative;

      &-photo {

        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin-right: 20px;
        background: rgba(127,212,30,1);
        background: -moz-linear-gradient(left, rgba(127,212,30,1) 0%, rgba(74,202,131,1) 60%, rgba(51,198,176,1) 75%, rgba(36,195,203,1) 90%, rgba(19,192,235,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,212,30,1)), color-stop(60%, rgba(74,202,131,1)), color-stop(75%, rgba(51,198,176,1)), color-stop(90%, rgba(36,195,203,1)), color-stop(100%, rgba(19,192,235,1)));
        background: -webkit-linear-gradient(left, rgba(127,212,30,1) 0%, rgba(74,202,131,1) 60%, rgba(51,198,176,1) 75%, rgba(36,195,203,1) 90%, rgba(19,192,235,1) 100%);
        background: -o-linear-gradient(left, rgba(127,212,30,1) 0%, rgba(74,202,131,1) 60%, rgba(51,198,176,1) 75%, rgba(36,195,203,1) 90%, rgba(19,192,235,1) 100%);
        background: -ms-linear-gradient(left, rgba(127,212,30,1) 0%, rgba(74,202,131,1) 60%, rgba(51,198,176,1) 75%, rgba(36,195,203,1) 90%, rgba(19,192,235,1) 100%);
        background: linear-gradient(to right, rgba(127,212,30,1) 0%, rgba(74,202,131,1) 60%, rgba(51,198,176,1) 75%, rgba(36,195,203,1) 90%, rgba(19,192,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fd41e', endColorstr='#13c0eb', GradientType=1 );
        z-index: 1;

        &-item {
          pointer-events: none;
          background: #fff;
          height: 44px;
          padding: 3px;
          margin: 3px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }

      }

      &-info {
        color: #ffffff;

        p {
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 0;
        }

        span {
          color: #6e6d73;
          font-size: 15px;
        }

      }
    }

  ul {
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 25px 50px 0 rgba(23, 22, 37, 0.15);
    position: absolute;
    width: 100%;
    right: 0;
    top: -110%;

    opacity: 0;
    visibility: hidden;
    z-index: 0;

    -webkit-transition: .35s all;
    -moz-transition: .35s all;
    -ms-transition: .35s all;
    -o-transition: .35s all;
    transition: .35s all;

    &:after {
      content: '';
      position: absolute; /* Абсолютное позиционирование */
      right: 20px; top: -20px; /* Положение треугольника */
      border: 10px solid transparent; /* Прозрачные границы */
      border-bottom: 10px solid #ffffff; /* Добавляем треугольник */
    }
  }

  .user-bloc-list-open {
    opacity: 1;
    visibility: visible;
    top: 110%;
    z-index: 11;
  }

  li {
    overflow: hidden;

    &:first-child {
      a {

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    a {
      padding: 15px;
      display: flex;
      align-items: center;
      font-size: 15px;

        &:hover {
          background: #f4f5f7;
          -webkit-transition: .35s all;
          -moz-transition: .35s all;
          -ms-transition: .35s all;
          -o-transition: .35s all;
          transition: .35s all;

          img {
            opacity: 1;
            -webkit-transition: .35s all;
            -moz-transition: .35s all;
            -ms-transition: .35s all;
            -o-transition: .35s all;
            transition: .35s all;
          }
        }
    }

    img {
      max-width: 30px;
      width: 100%;
      margin-right: 15px;
      opacity: .5;
    }
  }
}