// Media width
$phone: 320px;
$min-tablet:380px;
$telephone:550px;
$big-phone:650px;
$small: 767px;
$large: 1025px;
$wide: 1170px;


//Fonts
$ffMuseoSansCyrl_0: 'Conv_MuseoSansCyrl_0', sans-serif;
$ffMuseoSansCyrl_2: 'Conv_MuseoSansCyrl_2', sans-serif;
$ffBoldMuseoSansCyrl_3: 'Conv_MuseoSansCyrl_3', sans-serif;

//Colors

$menuLinks: #6e6d73;
$colorBody: #212121;

$colBgElement: #b63bc7;

//Background
$bacMenu: #131722;
$bacTxt: #f4f5f7;